header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  height: 50px;
  padding: 1rem;
  color: saddlebrown;
  background: white;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
      src : url("../font/BMJUA_ttf.ttf");
      font-family: "jua";
}

header a {
	color: saddlebrown;
	margin-right: 30px;
	font-size: 150%;
	font-family: "jua";
}

a:hover {
	text-decoration:none;
}

header nav {
	margin-top: 20px;
}
h1 {
  font-family:"jua";
  margin: 0;
  color: saddlebrown;
  font-weight : bolder;
}

p {
	margin : 0;
}

main {
  padding: 1rem;
  height: 100%;  
}

body {
  padding-top: 75px;
  background: #eacda3;  /* fallback for old browsers */
  text-align: center;
  margin: auto;
  overflow: hidden;
}

body, html {
  height: 200%;
  font-family:"jua";
}

.footer {
	font-family: "jua";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
	text-align: center;
	color: black;
	background: white;
	font-weight: bolder;
}

.card-body {
	margin-top: 50px; 
	margin-bottom:50px;
	margin-right:30px;
	margin-left:30px;
}

.card {
	border-radius: 60px 60px 60px 60px;
	margin:auto;
	width: 550px;
}

.btn {
	width: 100px;
	margin: auto;
	color: white;
	background: saddlebrown;
	border: 0;
	outline: 0;
	margin-left: 30px;
	margin-right: 30px;
}

* {
  box-sizing: border-box;
}