<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.work.dto.dao.InviteDaoImpl">
	<!-- 초대 테이블 -->
	<insert id="inviteMember" parameterType="hashMap">
		INSERT INTO INVITE(
			INVITE_NO, SPACE_NO, ID, MEMBER_NO)
		VALUES(
			INVITE_NO_SEQ.NEXTVAL, #{spaceNo}, #{id},(SELECT MEMBER_NO FROM MEMBER WHERE ID = #{id}))
		
		<selectKey keyProperty="inviteNo" resultType="Integer" order="AFTER">
			SELECT NVL(MAX(INVITE_NO), 0) FROM INVITE
		</selectKey>
	</insert>
	
	<select id="inviteMemberNo" parameterType="String" resultType="int">
		select MEMBER_NO
		from INVITE
		where id=#{id}
	</select>
	
<!-- 	<select id="inviteList" parameterType="String" resultType="com.work.dto.InviteList"> -->
<!-- 			select SPACE.SPACE_NAME, MEMBER.NAME -->
<!-- 	    FROM MEMBER, SPACE, INVITE -->
<!-- 	    	WHERE space.manager_no=member.member_no -->
<!-- 	    	AND INVITE.SPACE_NO=SPACE.SPACE_NO -->
<!-- 	    	AND INVITE.ID = #{id} -->
<!-- 	</select> -->
	
</mapper>