<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.work.dto.dao.MemberDaoImpl">
	<!-- 회원가입 -->
	<insert id="register" parameterType="com.work.dto.MemberVO">
		INSERT INTO MEMBER(	MEMBER_NO, ID, NAME, PASSWORD)
			VALUES(MEMBER_NO_SEQ.NEXTVAL, #{id}, #{name} ,#{password})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="com.work.dto.MemberVO">
		SELECT MEMBER_NO AS MEMBERNO, ID, PASSWORD
			FROM MEMBER
		WHERE
			ID = #{id}
			AND PASSWORD = #{password}
	</select>
	
	<select id="inviteList" parameterType="String" resultType="com.work.dto.InviteList">
			select SPACE.SPACE_NAME, MEMBER.NAME
	    FROM MEMBER, SPACE, INVITE
	    	WHERE space.manager_no=member.member_no
	    	AND INVITE.SPACE_NO=SPACE.SPACE_NO
	    	AND INVITE.ID = #{id}
	</select>
	
	<select id="spaceList" parameterType="int" resultType="com.work.dto.SpaceList">
			select SPACE.SPACE_NAME, MEMBER.NAME
    FROM MEMBER, SPACE, SPACE_MEMBER
    WHERE space_member.space_no = space.space_no
    and member.member_no = space.manager_no
    and space_member.member_no = #{memberNo}
			
	</select>
</mapper>