<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 마이바티스 작동규칙 정의 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="memberVO" type="com.work.dto.MemberVO" />
		<typeAlias alias="spaceVO" type="com.work.dto.SpaceVO" />
		<typeAlias alias="inviteVO" type="com.work.dto.InviteVO" />
		<typeAlias alias="spaceMemberVO" type="com.work.dto.SpaceMemberVO" />
		<typeAlias alias="inviteList" type="com.work.dto.InviteList" />
		<typeAlias alias="spaceList" type="com.work.dto.SpaceList" />
	</typeAliases>
	
</configuration>