<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 마이바티스 작동 규칙 정의 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases> 
		<typeAlias alias="boardVo" type="com.work.dto.BoardVo"/>
		<typeAlias alias="kanbanVo" type="com.work.dto.KanbanVo"/>
		<typeAlias alias="memberVo" type="com.work.dto.MemberVo"/>
		<typeAlias alias="spaceVo" type="com.work.dto.SpaceVo"/>
		<typeAlias alias="workVo" type="com.work.dto.WorkVo"/>
	</typeAliases>
</configuration>